<template>
  <div class="new-message">
    <form @submit.prevent="addMessage">
      <label for="new-message">New Message:</label>
      <input type="text" name="new-message" id="new-message" v-model="newMessage" />
      <p class="red-text" v-if="feedback" v-text="feedback" />
    </form>
  </div>
</template>

<script>
import db from "@/firebase";

export default {
  name: "NewMessage",
  props: ["name"],
  data() {
    return {
      newMessage: null,
      feedback: null
    };
  },
  methods: {
    async addMessage() {
      if (this.newMessage) {
        this.feedback = null;
        try {
          await db.collection("messages").add({
            content: this.newMessage,
            name: this.name,
            timestamp: Date.now()
          });

          this.newMessage = null;
        } catch (err) {
          console.log(err);
          this.feedback = err.message;
        }
      } else {
        this.feedback = "Enter a message in order to send it";
      }
    }
  }
};
</script>

<style>
</style>